<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<style type="text/css">
		p{
			text-indent:0.32rem;padding:0.1rem;line-height:0.3rem;letter-spacing: 0.02rem;
		}
	</style>
</head>
<body >
	<div id="title" class="titleDiv">
		100.1、概述
	</div>
	<div class="summary">1、“edk4j工作台”是一个eclipse插件</div>
	<div class="noborder-content-div">
		<p>安装eclipse + “edk4可视化开发ide插件”后即可使用。</p>
	</div>
	<div class="summary">2、为什么要用“edk4j工作台”：工欲善其事，必先利其器</div>
	<div class="noborder-content-div">
		<p>
			在没有可视化ide时，我们的编码工作都是手工编辑，虽然我们的edk4j平台是“高度可配置化”开发，但是这些“配置”也要手写。
		</p>
		<p>
			可视化ide，是一个帮你写代码的开发工具。
		</p>
		<p>
			可视化ide出现后，我们的开发工作变的如虎添翼，工作效率能提升60%。<br/>
		</p>
	</div>
	<div class="summary">3、使用“edk4j可视化开发ide”的“多快好省”体现在哪些方面</div>
	<div class="noborder-content-div">
		<p>
			&#10148;&nbsp;&nbsp;“自动化”：完成：创建项目、开发功能构件、生成文档、自定义构件扩展、项目支持；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;“可视化”：“托拽”式开发接口（api）及业务逻辑（bpm）；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;利沟通：api、bpm以绘图形式呈现于编辑器，项目结构、业务逻辑一目了然；
		</p>
		<p>
			&#10148;&nbsp;&nbsp;利开发：开发过程像“画流程图”一样简单有趣地完成。
		</p>
	</div>
</body>
</html>