<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	
	<link type="text/css" rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css"/>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		16.1.1、添加“edk4j接口调用引擎依赖”
	</div>
	<div class="summary">
		在pom.xml中添加下面的依赖
	</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-integration&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
</body>
</html>