<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	
	<link type="text/css" rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css"/>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
		
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		3.2、引入各个子引擎jar的pom
	</div>
	<div class="summary">3.2.1 edk4j-parent</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-parent&lt;/artifactId&gt;
	&lt;version&gt;2.0.0&lt;/version&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.2 edk4j-core</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-core&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.3 edk4j-integration</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-integration&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.4 edk4j-task-engine</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-task-engine&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.5 edk4j-jta</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-jta&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.6 edk4j-kafka</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-kafka&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.7 edk4j-workflow</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-workflow&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.8 edk4j-track</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-track&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.9 edk4j-uisdk</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-uisdk&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
	<div class="summary">3.2.10 edk4j-debug</div>
	<pre class="prettyprint language-xml">
&lt;dependency&gt;
	&lt;groupId&gt;com.edk4j&lt;/groupId&gt;
	&lt;artifactId&gt;edk4j-debug&lt;/artifactId&gt;
&lt;/dependency&gt;
	</pre>
</body>
</html>