<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		7.4、CustDataService接口
	</div>
	<div class="noborder-content-div">
		<label style="font-weight:bold;">1、接口</label>：com.edk4j.core.service.CustomerDataService
		<br/><label style="font-weight:bold;">2、功能</label>：查询客户可操作的菜单列表、交易码表、客户的httpSessionId、客户ip
		<br/><label style="font-weight:bold;">3、默认实现类</label>：新建edk4j项目，工作台会自动为项目生成一个默认实现类CustomerDataServiceImpl
		<br/><label style="font-weight:bold;">4、实现类中必须使用注解和beanName</label>：<label style="background-color:#ffff00;">@Service("customerDataService")</label>，如果beanName没有这样设置，那么将会调用com.edk4j.core.service.impl.DefaultCustomerDataService，这个默认实现类应该不够满足你的应用需求。
		<br/><label style="font-weight:bold;">5、方法说明</label>：
		<pre class="prettyprint lang-java" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
/**
* 从缓存中获取客户菜单Map<String,Menu>
* sessionCustMenu字段在登录后缓存sessionContext时会缓存到缓存服务器
* @param context
* @return {@link HashMap} {@link Menu}
*/
public Map&lt;String,Menu&gt; getCustMenuMap(Context context);
/**
* 从缓存中获取客户可操作的业务编码Set
* sessionBusinessCodeSet字段在登录后缓存sessionContext时会缓存到缓存服务器
* @param context
* @return {@link HashSet}
*/
public Set&lt;String&gt; getCustBusinessCodeSet(Context context);
/**
* 获取客户ip
* 如果是渠道端的，直接从request里取客户ip
* 渠道端正确的做法是，向统一平台传递这个参数值，统一平台再按约定的参数名接收
* @param servletRequest
* @param context
* @return
*/
public String getClientIp(HttpServletRequest servletRequest, Context context);
/**
* 获取客户的httpSessionId
* 如果是渠道端的，直接从request里取httpSessionId
* 渠道端正确的做法是，向统一平台传递这个参数值，统一平台再按约定的参数名接收
* @param servletRequest
* @param context
* @return
*/
public String getHttpSessionId(HttpServletRequest servletRequest, Context context);
		</pre>
	</div>
</body>
</html>