<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		7.6、BizLogger接口
	</div>
	<div class="noborder-content-div">
		<label style="font-weight:bold;">1、接口</label>：com.edk4j.core.log.BizLogger
		<br/><label style="font-weight:bold;">2、功能</label>：用于实施交易过程中的交易记录动作
		<br/><label style="font-weight:bold;">3、默认实现类</label>：新建edk4j项目，工作台会自动为项目生成一个默认实现类BizLoggerImpl
		<br/><label style="font-weight:bold;">4、实现类中必须使用注解和beanName</label>: <label style="background-color:#ffff00;">@Service(value="bizLogger")</label>，如果没有这样设置，那么将会调用com.edk4j.core.log.DefaultBizLoggerImpl，这个默认实现类不能很好的满足你项目的需要。
		<br/><label style="font-weight:bold;">5、方法说明</label>：
		<pre class="prettyprint lang-java">
 /**
 * 实施日志记录，该方法的调用，必须放在service方法的finally中
 * @param requestNo 请求编号
 * @param context 本次交易上下文
 * @param bizName BusinessLogic的id
 * @param logDefine  日志定义
 * @param throwable 执行逻辑过程中抛出的异常
 * @param useMillis businessLogic执行耗时
 * @throws Exception
 */
public void log(String requestNo, Context context, String bizName, LogDefine logDefine, Throwable throwable, long useMillis);
		</pre>
	</div>
</body>
</html>