<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init()">
	<div id="title" class="titleDiv">
		98.2.5、关闭DNS查询和AJP连接
	</div>
	<div class="noborder-content-div">
		<div class="summary">关闭DNS查询</div>
		<pre class="prettyprint lang-xml">
&lt;!--
修改${TOMCAT_HOME}/conf/server.xml里的http的&lt;Connector&gt;，
设置属性enableLookups="false"，如果为true，则可以通过调用request.getRemoteHost()进行DNS查询来得到远程客户端的实际主机名，若为false则不进行DNS查询，而是返回其ip地址
--&gt;
&lt;Connector 
	executor="tomcatThreadPool"
	port="8080" URIEncoding="UTF-8" protocol="HTTP/1.1"
	onnectionTimeout="20000"
	protocol="org.apache.coyote.http11.Http11NioProtocol"
	redirectPort="8443"
	enableLookups="false"
/&gt;
		</pre>
		<div class="summary">关闭AJP连接</div>
		目前的tomcat集群不是依靠这个连接器来做的。<br/>
		修改${TOMCAT_HOME}/conf/server.xml里的AJP的&lt;Connector&gt;节点，直接注释掉<br/>
		<pre class="prettyprint lang-xml">
&lt;!--
Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />
--&gt;
		</pre>
	</div>
</body>
</html>