<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdImageViewer.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDImageViewer.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
</head>
<body>
	<div id="title" class="titleDiv">
		6.1、功能位置及操作说明
	</div>
	<div style="margin:0.05rem;">
		<div id="tabs" class="sd_tab">
			<div class="sd_tab_in" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),1);">功能位置</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),2);">操作说明</div>
		</div>
		<div id="tabContents" class="tabContentDiv">
			<div>
				<div class="summary">右键项目，点击菜单：new -&gt; 自定义表单</div>
				<img src="../../image/business/6/6.1-1.png"  onclick="SDImageViewer.showBigImage(this.src)" style="cursor:pointer;"/><br/>
			</div>
			<div style="display:none;">
				<div class="subTitleDiv">
					生成套路：设计模型的概要及属性字段 --> 一键生成ddl、dml、前端整套文件、后端整套文件
				</div>
				<div style="display:flex;justify-content: space-between;">
					<div style="display:flex;flex-direction: column;width:33%;">
						<div class="summary">1、填写模型（表单）的概要信息</div>
						<img src="../../image/business/6/6.1-2.png"  onclick="SDImageViewer.showBigImage(this.src)" style="cursor:pointer;"/>
					</div>
					<div style="display:flex;flex-direction: column;width:33%;">
						<div class="summary">2、新增模型的属性字段</div>
						<img src="../../image/business/6/6.1-3.png"  onclick="SDImageViewer.showBigImage(this.src)" style="cursor:pointer;"/>
					</div>
					<div style="display:flex;flex-direction: column;width:33%;">
						<div class="summary">3、变更模型的属性字段</div>
						<img src="../../image/business/6/6.1-4.png"  onclick="SDImageViewer.showBigImage(this.src)" style="cursor:pointer;"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>