<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<script type="text/javascript">
		function openPage(url){
			window.open(url, null, getWindowOpenFeature(100,100));
		}
	</script>
</head>
<body >
	<div id="title" class="titleDiv">
		95.1、免费开发套件
	</div>
	<div class="titleDiv">
		可以免费使用一些在线服务器资源
	</div>
	<table class="across">
		<colgroup><col style="width:0.5rem;"/><col style="width:3rem;"/><col/></colgroup>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="https://my.zone.id/subdomains" target="_blank">zone.id</a></td>
				<td>自定义免费的二级域名，支持自定义dns解析</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="https://www.sqlpub.com/" target="_blank">sqlpub.com</a></td>
				<td>国内免费的mysql数据库，最大36000次/小时的请求、同时30个连接和500M存储空间</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="https://redis.io/try-free/"  target="_blank">redis.io</a></td>
				<td>redis官方免费的redis服务器，10M内存</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="https://statichost.host/"  target="_blank">statichost.host</a></td>
				<td>网站前端文件托管</td>
			</tr>
		</tbody>
	</table>
</body>
</html>