<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<style type="text/css">
		ol{
    		list-style-position: inside;
    		list-style-type: none;
    		counter-reset: sectioncounter 0
		}
		ol li{
			min-height:0.4rem;
			line-height:0.4rem;
		}
		ol li:before {
			content: "（" counter(sectioncounter)"）";
			counter-increment: sectioncounter;
		}
		.item{
			font-weight:normal;
		}
	</style>
</head>
<body>
	<div id="title" class="titleDiv">
		edk4j对低代码的解释
	</div>
	<div style="margin:0.05rem;">
		<div id="tabs" class="sd_tab">
			<div class="sd_tab_in" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),1);">edk4j平台的“低代码认知”</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),2);">低代码特征</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),3);">edk4j低代码领域名词</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),4);">edk4j低代码开发范式</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),5);">edk4j低代码开发套路</div>
		</div>
		<div id="tabContents" class="tabContentDiv">
			<div class="summary">
				“在edk4j平台支撑的基础上，使用其提供的工具自动生成代码，无需或者少量人工编写代码，即可完成系统开发。”是低代码的真正内涵。<br>“低”并不是指一个系统内的代码总量减少，而是指：“需要人工编写的代码量很少”。
			</div>
			<div style="display:none;">
				<div class="summary">
					1、根据 Gartner 研究报告，将低代码开发技术分成三个主要市场领域：低代码应用平台（ LCAP ）、多功能体验开发平台（ MXDP ）、流程和业务规则 / 决策管理系统。
				</div>
				<div style="padding-left:0.48rem;">
					edk4j开发平台属于“低代码应用平台（ LCAP ）”。
				</div>
				<div class="summary">
					2、低代码应用平台是指一种通过零代码或者最小化手工代码量快速设计和生成应用的平台。
				</div>
				<div class="summary">
					3、通过可视化的开发界面，以拖放机制，帮助开发人员和公民开发人员快速构建应用程序，实现业务需求。
				</div>
				<div style="padding-left:0.48rem;">
					低代码应用平台与传统文本开发模式最大的不同就是利用各种可视化方法，通过拖拉拽的方式快速构建应用。
				</div>
				<div class="summary">
					4、以模型和元数据为中心，丰富的功能组件，组装式开发。
				</div>
				<div class="summary">
					5、支持业务代码和通用逻辑开发的模板化，以及自定义编码扩展功能。
				</div>
				<div class="summary">
					6、Gartner：<a href="https://www.gartner.com/cn/newsroom/press-releases/cloud-will-be-the-centerpiece-of-new-digital-experiences" target="_blank">到2025年，企业机构开发的新应用中有70%将使用低代码或无代码技术</a>
				</div>
			</div>
			<div style="display:none;">
				<div class="summary">
					<label style="font-weight:bold;">1、交易</label>：客户端与服务端的任何一次交互，都视为“一个交易”。
				</div>
				<div class="subContentDiv">
					任何一个交易都至少有“交易码”、“访问地址”以及“交易名称”属性。“交易码”是交易的id，是系统中对交易的唯一标识。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">2、业务模型</label>：一次交易过程的模型，包括：请求视图、请求数据、逻辑处理模块、答复数据、答复视图等。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">3、api构件</label>：请求层的配置构件，是由交易的“接口（服务）地址”、“权限控制设置”、“检验规则”、“目标业务逻辑”、“请求数据解包器”等一组视图层配置组成。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">4、bpm构件</label>：业务逻辑层的配置构建，bpm即Business Process Manage的简写，在本平台中特指“业务的处理流程管理单元，其中包括：数据域定义、输入输出定义、业务逻辑流”。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">5、业务逻辑流</label>：业务逻辑的处理流程图，对应于传统开发模式中的“service实现类”。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">6、组件</label>：具有“通用性”、“复用性”的逻辑功能单元，包括：“接口实现类”、“业务逻辑Action”、“通用工具类”、“通用功能模块”等。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">7、业务逻辑Action</label>：最小业务逻辑执行单元，一个业务逻辑流中的每个步骤就是一个Action。
				</div>
				<div class="summary">
					<label style="font-weight:bold;">8、组件库</label>：将组件分类归纳，构成“组件库”。
				</div>
			</div>
			<div style="display:none;">
				<img src="../../image/business/1/1.4-1.jpg"/>
			</div>
			<div style="display:none;">
				<div class="summary">
					edk4j平台的开发套路：专注于业务的api和bpm配置文件，使用配套的可视化开发IDE以拖拽、绘图的方式完成开发，从而实现“低代码”。
				</div>
				<ol>
					<li><label style="font-weight:bold;">api配置文件：</label>定义接口；</li>
					<li><label style="font-weight:bold;">bpm配置文件：</label>绘制业务逻辑；</li>
					<li><label style="font-weight:bold;">action：</label>最小逻辑单元，bpm业务逻辑流中的最小逻辑颗粒；
					<li><label style="font-weight:bold;">开发可视化开发IDE：</label>将开发人员从手工锻打代码的工作中释放，进一步大幅度减少开发人员的编码量，是本平台的开发利器 。
					</li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>