<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>能效一览</title>
	<link type="text/css" rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css" rel="stylesheet" href="../../css/section-display.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<style type="text/css">
		
	</style>
	<script type="text/javascript">
		function init(){
			
		}
	</script>
</head>
<body onload="init();">
	<div class="flex-box">
		<img src="../../image/business/1/edk4j-model.png" style="width:100vmin;">
	</div>
</body>
</html>