<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
</head>
<body >
	<div id="title" class="titleDiv">
		8.5、数据库驱动的集成说明
	</div>
	<div class="tabTitleDiv">oracle数据库</div>
	<p class="tabTitleLine"></p>
	<div class="contentDiv">
		edj4j中默认提供的ojdbc8，支持的数据库版本包括 Oracle 19c、18c、12c、11g 等。可以根据需要更换为适用你的oracle版本的驱动。
	</div>
	<div class="tabTitleDiv">db2数据库</div>
	<p class="tabTitleLine"></p>
	<div class="contentDiv">
		db2官方并没有将驱动包放到镜像库中！<br>
		请登录官网选择与你的db2匹配的驱动，edk4j中默认集成的驱动仅适用于DB2 Version 11.5，可能与你的db2数据库不匹配<br>
		<a href="https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads" target="_blank">db2官网</a><br>
		下载后，需要放置到你本地maven库或推送到公司的镜像库中。
	</div>
</body>
</html>