<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			//CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
		function openSubPage(){
			window.open("../2/2.2.html", null, getWindowOpenFeature(200,200));
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		4.2、搭建开发环境
	</div>
	<div class="tabTitleDiv">环境准备</div>
	<p class="tabTitleLine"></p>
	<div class="contentDiv stepsContainner">
		<div class="subTitleDiv">
			确保公司或个人虚拟机中具备服务器：
			<div class="subContentDiv">
			<div>
				（1）关系型数据库服务器（首推mysql）；
			</div>
			<div>
				（2）MQ服务器（ActiveMq或Kafka等）；
			</div>
			<div>
				（3）Redis服务器
			</div>
		</div>
		</div>
		<div class="subTitleDiv">
			安装jdk1.8或更高版本
		</div>
		<div class="subTitleDiv">
			安装高版本的eclipse（自带git插件、maven等插件），安装<a href="#">edk4j工作台</a>插件
		</div>
		<div class="subTitleDiv">
			本地安装maven，配置本地maven库
		</div>
		<div class="subTitleDiv">
			安装dbeave、another redis desktop manage、xshell等客户端工具
		</div>
		<div class="subTitleDiv">
			安装“Postman” 或者 “Edge/chrome浏览器的Dev Http Client插件”等ajax调用插件
		</div>
	</div>
	<div class="tabTitleDiv">安装包/资源下载</div>
	<p class="tabTitleLine"></p>
	<div class="contentDiv">
		参见<a href="#">104章：下载中心</a>，搭建本地maven环境，下载开发软件安装包
	</div>
</body>
</html>