<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<script type="text/javascript">
		function openPage(url){
			window.open(url, null, getWindowOpenFeature(100,100));
		}
	</script>
</head>
<body >
	<div id="title" class="titleDiv">
		4.3、安装并学习使用可视化开发脚手架：edk4j工作台
	</div>
	<table class="across">
		<colgroup><col style="width:0.5rem;"/><col style="width:3rem;"/><col/></colgroup>
		<thead>
			<tr><th>序号</th><th>课程</th><th>备注</th></tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="javascript:openPage('../100/100.1.html')">edk4j工作台概要说明</a></td>
				<td>“edk4j工作台”是一个eclipse插件</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="javascript:openPage('../100/100.2.html')">下载</a></td>
				<td></td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="javascript:openPage('../100/100.3.html')">安装</a></td>
				<td></td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="javascript:openPage('../100/100.4.html')">创建项目</a></td>
				<td></td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="javascript:openPage('../100/100.6.html')">开发接口定义构件（api文件）</a></td>
				<td></td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="javascript:openPage('../100/100.5.html')">开发业务逻辑构件（bpm文件）</a></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>