<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdImageViewer.css"/>
	<script type="text/javascript" src="../../javascript/core/ajaxEngine.js"></script>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDImageViewer.js"></script>
	<script type="text/javascript">
		function openPage(url){
			window.open(url, null, getWindowOpenFeature(100,100));
		}
		function fillContent(htmlStr){
			document.querySelector("#contentContainnerDiv").innerHTML=htmlStr;
		}
	</script>
	<style type="text/css">
		a{
			color:#0059a6 !important;
		}
		a:hover {
			background-color: unset !important;
			text-decoration: none !important;
			color:#D12D2D !important;
		}
	</style>
</head>
<body onload="Server.fetchTextContent('../100/100.1.html', fillContent);">
	<div style="background-color:#eef7ff;position:fixed;padding:0.05rem 0.2rem;border-radius:0.1rem;right:0.2rem;top:50%;line-height:0.4rem;border: 1px solid #0081b0;">
		<a href="javascript:Server.fetchTextContent('../100/100.1.html', fillContent)">（1）edk4j工作台概要说明</a><br>
		<a href="javascript:Server.fetchTextContent('../100/100.2.html', fillContent)">（2）下载</a><br>
		<a href="javascript:Server.fetchTextContent('../100/100.3.html', fillContent)">（3）安装</a><br>
		<a href="javascript:Server.fetchTextContent('../100/100.4.html', fillContent)">（4）创建项目</a><br>
		<a href="javascript:Server.fetchTextContent('../100/100.6.html', fillContent)">（5）开发接口定义构件（api文件）</a><br>
		<a href="javascript:Server.fetchTextContent('../100/100.5.html', fillContent)">（6）开发业务逻辑构件（bpm文件）</a><br>
		<a href="javascript:openPage('../100/100.7.html', fillContent)">（7）一键生成模型的增删改查前后台套件</a>
	</div>
	<div id="contentContainnerDiv">
	</div>
</body>
</html>