<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		21.2.6、必须要将个别二进制内容的静态文件打包到jar时怎么办
	</div>
	<div class="tabTitleDiv">问题说明：maven打包报错或pom文件在ide中报错</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<div style="text-indent:0.32rem;">
		用maven将正常的二进制文件也打包到jar不会有问题，但是有些文件虽然归类到二进制文件（如自定义字体），但其内容编码比较特殊，其中存在占位符等情况，当maven在尝试压缩时就会报错。一般会抛出异常 MalformedInputException。这通常是由于 Maven 在资源处理（filtering）过程中错误地尝试对二进制文件进行文本编码处理导致的。
		</div>
		<div style="text-indent:0.32rem;">
			具体需要使用 mvn -x compile追踪哪个文件有问题。然后在pom资源申明中排除问题文件。
		</div>
	</div>
	<div class="tabTitleDiv">解决方案：pom中申明排除二进制文件，打包后再用jar命令将二进制文件合并进去</div>
	<div class="tabTitleLine"></div>
	<div class="contentDiv">
		<div class="subTitleDiv addArrow">pom中如何排除</div>
		<pre class="prettyprint lang-xml" id="codeShow1" style="font-weight:bold;color:#3f7f5f;">
&lt;build&gt;
	&lt;resources&gt;
		&lt;resource&gt;
				&lt;directory&gt;src/main/webapp&lt;/directory&gt;
				&lt;targetPath&gt;static&lt;/targetPath&gt;
				&lt;filtering&gt;true&lt;/filtering&gt;
				&lt;includes&gt;
					&lt;include&gt;**/**&lt;/include&gt;
				&lt;/includes&gt;
				&lt;excludes&gt;
					&lt;!-- 排除二进制文件，如：字体文件、证书文件、excel模板等 --&gt;
					&lt;exclude&gt;**/*.woff&lt;/exclude&gt;
					&lt;exclude&gt;**/*.ttf&lt;/exclude&gt;
					&lt;exclude&gt;**/*.ico&lt;/exclude&gt;
					&lt;exclude&gt;**/*.p12&lt;/exclude&gt;
				&lt;/excludes&gt;
			&lt;/resource&gt;
	&lt;/resources&gt;
&lt;/build&gt;
		</pre>
		<div class="subTitleDiv addArrow">如何对jar内容进行局部更新</div>
		<pre>
#局部更新jar中文件的手法：将要更新的文件，按jar内的目录结构，把最外层文件夹复制到与jar平级，执行更新脚本
jar uvf xxxx.jar 单个文件在jar内的相对路径

#例：
#	当前所在位置
#		|__project.jar
#		|__static
#			|__xxxx
#				|__A.woff
#更新jar里woff文件，这样写：
jar -uvf project.jar static/xxxx/A.woff static/xxxx/A.woff
		</pre>
	</div>
</body>
</html>