<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript">
		function init(){
			CodePrettyUtil.escapeInnerHTML('codeShow1', 'codeShow1');
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		21.2.3、mvn打包resource插件配置
	</div>
	<div class="contentDiv">
	<a href="https://maven.apache.org/plugins/maven-resources-plugin" target="_blank">apache官网说明</a>
<pre class="prettyprint lang-xml" id="codeShow1" style="font-weight:bold;color:#3f7f5f;">
<properties>
		<java.version>1.8</java.version>
		<project.build.encoding>UTF-8</project.build.encoding>
		<maven.compiler.source>1.8</maven.compiler.source>
		<maven.compiler.target>1.8</maven.compiler.target>
</properties>
<plugins>
	<plugin>
		<groupId>org.apache.maven.plugins</groupId>
		<artifactId>maven-resources-plugin</artifactId>
		<version>3.3.1</version>
		<configuration>
			<encoding>${project.build.encoding}</encoding>
			<nonFilteredFileExtensions>
				<!--Additional file extensions to not apply filtering (already defined are : jpg, jpeg, gif, bmp, png)-->
				<!-- 对以下后缀的文件无需编译、占位符filter等操作，而进行直接copy：字体文件、证书文件、excel模板等 -->
				<nonFilteredFileExtension>woff</nonFilteredFileExtension>
				<nonFilteredFileExtension>woff2</nonFilteredFileExtension>
				<nonFilteredFileExtension>svg</nonFilteredFileExtension>
				<nonFilteredFileExtension>ttf</nonFilteredFileExtension>
				<nonFilteredFileExtension>ico</nonFilteredFileExtension>
				<nonFilteredFileExtension>eot</nonFilteredFileExtension>
				<nonFilteredFileExtension>xls</nonFilteredFileExtension>
				<nonFilteredFileExtension>xlsx</nonFilteredFileExtension>
				<nonFilteredFileExtension>pdf</nonFilteredFileExtension>
			</nonFilteredFileExtensions>
		</configuration>
	</plugin>
</plugins>
</pre>
</div>
</body>
</html>