<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"  rel="stylesheet" href="../../css/dom.css"/>
	<link type="text/css"  rel="stylesheet" href="../../css/sdTabControl.css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript" src="../../javascript/components/SDTabControl.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../../javascript/components/google-code-prettify/util.js"></script>
	<link rel="stylesheet" href="../../javascript/components/google-code-prettify/prettify.css" type="text/css"/>
	<script type="text/javascript" src="../../javascript/core/domUtil.js"></script>
	<script type="text/javascript">
		function init(){
			PR.prettyPrint();
		}
	</script>
</head>
<body onload="init();">
	<div id="title" class="titleDiv">
		22.3.8、附录：工作流前端开发套路
	</div>
	<div style="margin:0.05rem;">
		<div id="tabs" class="sd_tab">
			<div class="sd_tab_in" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),1);">前端开发套路</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),2);">自动生成的html内容</div>
			<div class="sd_tab_out" onclick="SDTab.altTab(document.getElementById('tabs'), document.getElementById('tabContents'),3);">SDWorkflowUtil提供的变量和函数</div>
		</div>
		<div id="tabContents" class="tabContentDiv">
			<div>
				<div class="summary">流程各环节的工作页面中引入SDWorkflowUtil.js脚本</div>
				<div class="subContentDiv ordered-list">
					引入SDWorkflowUtil.js后，会启用SDWorkflowUtil组件，该组件的功能：
					<div>自动将工作流的dom组件植入到页面中</div>
					<div>提供工作流的功能函数</div>
					<div>无需在功能页面为工作流编写页面组件或脚本，除非需要覆盖增强SDWorkflowUtil中的函数</div>
				</div>
			</div>
			<div style="display:none">
				<div class="summary">无论在edit页面还是在auth页面，工作流的前端dom组件都一致，内容包括：</div>
				<div class="subContentDiv ordered-list">
					<div>工单编号、“流转历史”按钮</div>
					<div>当前节点处理意见输入框</div>
					<div>到达下一节点的所有路由对应的操作按钮（例如：同意、拒绝、中止流程等）</div>
				</div>
			</div>
			<div style="display:none">
				<div class="summary">下面这些函数都是SDWorkflowUtil组件提供的，你可以在功能页面的js中覆盖重写这些函数，以便添加定制内容</div>
				<pre class="prettyprint lang-javascript" id="codeShow1" style="font-weight:bold;font-size:0.14rem;line-height:0.26rem;font-family: 'Verdana','微软雅黑','宋体';">
/**
 * 工作流上下文变量，页面加载时会自动赋值，在功能页面中可直接使用
 */
SDWorkflowUtil.context={
	appNo : null,
	taskId : null,
	pageAfterDeal : null
};

/**
 * 生成流程操作按钮，需要个性化按钮时，在页面上重写本函数
 * @param ${string} 任务id，用于查询当前节点可操作按钮
 * @param ${boolean} 是否添加“返回”到待办任务页面default=true
 */
SDWorkflowUtil.createProcessOperationButtons=function(taskId, addReturnBtn=true){...}
/**
 * 办理当前节点
 * @param ${string} 流转到下一节点的路由id
 * @param ${string} 流转到下一节点的路由的名称（与按钮上的文字相同）
 */
SDWorkflowUtil.dealTask = function(routeId, outcomeRouteName){...}
/**
 * 查看审批历史
 * @param ${number} 顶边距，单位：像素
 * @param ${number} 左边距，单位：像素
 */
SDWorkflowUtil.viewHistory = function(top=200, left=100){...}
/**
 * 当编辑页面提交更新后，更新数据和流程dom元素
 * edk4j的工作流规范中，新建流程交易会将appNo和taskId都返回
 * 在业务数据的edit页面的submit回调函数成功发起流程后需要调用本函数
 * @param ${string} 工单编号
 * @param ${string} 任务id
 */
SDWorkflowUtil.refreshModelAndView=function(appNo, taskId){...}
				</pre>
			</div>
		</div>
	</div>
</body>
</html>